body[lang="en"] [lang="fr"], body[lang="fr"] [lang="en"] {
    display: none;
}

body[lang="en"] [lang="ar"], body[lang="ar"] [lang="en"] {
    display: none;
}

body[lang="fr"] [lang="ar"], body[lang="ar"] [lang="fr"] {
    display: none;
}

td[lang="ar"] {
    text-align: right;
    direction: rtl;
}

#particles-js canvas {
    width: 100%;
    height: 100%;
    background: #5f5f5f59;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

.input-icons i {
    position: absolute;
}

.input-icons {
    /* background-color: rgb(243, 243, 224); */
    padding: 3rem;
    position: relative;
    background-color: rgba(245, 245, 220, 0.726);
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.input-field {
    text-indent: 45px;
}

.input-field:disabled:hover {
    cursor: auto;
}

th {
    width: max-content;
}

th img {
    margin-top: 10%
}

#qrcode img {
    display: block;
    margin: auto;
}

.share-btn>a {
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
    font-family: Verdana, Arial;
}

.share-btn>a:hover {
    cursor: pointer;
}

#art {
    float: right;
    position: absolute;
    right: 0%;
    top: 10%;
}

select {
    width: auto !important;
    float: right;
}