.input-icons i {
    position: absolute;
}

.input-icons {
    background-color: beige;
    padding: 3rem;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.input-field {
    text-indent: 45px;
}

.input-field:disabled:hover {
    cursor: auto;
}

th {
    width: max-content;
}

th img {
    margin-top: 10%
}

#qrcode img {
    display: block;
    margin: auto;
}